<div class="row contacts">
  <div class="col-md-6">
    <div class="h-contacts">Заводчик</div>
    <div class="p-contacts">{{page.breeder}}</div>
    <div class="h-contacts">Страна</div>
    <div class="p-contacts">{{page.country}}</div>
    <div class="h-contacts">Город</div>
    <div class="p-contacts">{{page.city}}</div>
    <div class="h-contacts">Телефон</div>
    <div class="p-contacts">{{page.phone}}</div>
  </div>
  <div class="col-md-6">
    <div class="h-contacts">Instagram</div>
    <div class="p-contacts"><a href="{{page.instagram}}">{{page.instagram}}</a></div>
    <div class="h-contacts">Facebook</div>
    <div class="p-contacts"><a href="{{page.facebook}}">{{page.facebook}}</a></div>
    <div class="h-contacts">Vkontakte</div>
    <div class="p-contacts"><a href="{{page.vk}}">{{page.vk}}</a></div>
    <div class="h-contacts">E-mail</div>
    <div class="p-contacts"><a href="mailto:page.email">{{page.email}}</a></div>
  </div> 
</div>
