<div class="row">
  <div class="col-md-12">
    <h3 class="hline-1">Напишите нам</h3>
  </div>
  <div class="contacts-form ">   
  <script type="text/javascript">var submitted=false;</script>
   <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='thanks-form.html';}"></iframe>
  <form action="https://docs.google.com/forms/d/e/1FAIpQLSdzCmqpE0m4QpuwtOaSREqyoTI8pDFkZUz2mkAXTDlSrzzV_Q/formResponse" enctype='multipart/form-data' method='post' id="sky-form3" class="sky-form" novalidate="novalidate" target="hidden_iframe"
      onsubmit="submitted=true;">
    <div class="t-contacts-form">
      <div class="row ">
        <div class="col-md-12 ">
          <div class="p-contacts-form"><input type="text" name="entry.2002667350" id="name" placeholder="Имя" ></div>
        </div>
        <div class="col-md-6">
              <div class="p-contacts-form"><input type="text" name="entry.1272920658" id="phone" placeholder="Телефон"></div>
        </div>
        <div class="col-md-6">
             <div class="p-contacts-form-1"><input type="email" name="emailAddress" id="email" placeholder="E-mail"></div>
        </div>  
        <div class="col-md-12">
              <div class="p-contacts-form"><textarea rows="4" name="entry.618395826" id="message" placeholder="Cообщение"></textarea></div>
        </div>
      </div> 
    </div> 
    <div class="col-md-11 col-xs-12 col-xs-12">
     <div class="text-right"> <input type="submit" value="Отправить" class="button"/></div>
    </div>  
    </form>
  </div>
</div>