<title>ART PRIDE{% if $page.title %} | {{ page.title }} {% endif %}</title>
	<meta charset="utf-8">
  {% if $page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
    <meta name="keywords" content="кеесхонд, щенки кеесхонда, щенки вольфшпица, информация о породе" />
  {% endif %}

  {% if $page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% else %}
    <meta name="description" content="Добро пожаловать в питомник кееесхондов Art Pride" />
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="Alesenko Elena">
  <!--<meta name="yandex-verification" content="#" />-->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Art Pride" />
  <meta property="og:description" content="Art Pride - питомник кеесхондов" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="artprides" />
  <meta property="og:image" content="{{ site.url }}/assets/images/bg-mob.jpg" />
  <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/bg-mob.jpg" />
  <meta name="twitter:card" content="artprides" />
  <meta name="twitter:title" content="artprides" />
  <meta name="twitter:description" content="Art Pride - питомник кеесхондов" />
  <meta name="twitter:image" content="{{ site.url }}/assets/images/bg-mob.jpg" />
	<link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico">
	<link rel="stylesheet" href="{{ site.url }}/assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/plugins/bootstrap/css/styles.bm-classic.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/blocks.css">
  <link rel='dns-prefetch' href='//translate.google.com' />
  <link rel='stylesheet' id='google-language-translator-css'  href='{{ site.url }}/assets/js/google-translate/style.css' type='text/css' media='' />
  <script src="https://kit.fontawesome.com/79fcd82d7c.js"></script>
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/fancybox/jquery.fancybox.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/custombox/custombox.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/hamburgers/hamburgers.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/icon-line-pro/style.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/js/menu/icon-hs/style.css">