{% for litter in page.litters %}
<div class="row">
  <div class="col-md-12">
    <h1>Litter "{{litter.name}}"</h1>
    <h5 class="small-header"><i><b>Дата рождения:</b></i> {{litter.dob}}</h5>
    <div class="littermates row">
      <div class="offset-md-1 col-md-4">
        <a class="thickbox" href="{{ litter.father-link }}"> <img src="{{ site.url }}/assets/photos/{{ litter.father-photo }}" class="img-fluid"></a>
        <h7><a href="{{ litter.father-link }}" style="text-center">{{ litter.father-name }}</a></h7>
        <p class="small-info text-center">{{ litter.father-titles }}</p>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <a class="thickbox" href="{{ litter.mother-link }}"> <img src="{{ site.url }}/assets/photos/{{ litter.mother-photo }}" class="img-fluid"></a>
        <h7><a href="{{ litter.mother-link }}" style="text-center">{{ litter.mother-name }}</a></h7>
        <p class="small-info text-center">{{ litter.mother-titles }}</p>
      </div>      
    </div>
  </div> 
</div>

{% if litter.link %}
  <p class="text-center"><a href="{{ site.url }}/litters/{{litter.link}}" class="big-button">Подробнее о помете</a></p>
{% endif %} 

{% if litter.puppies %}
  <div class="row">
    <div class="col-md-12">
      {% assign sexes = litter.puppies | group_by:"gender"%}
      {% for sex in sexes %}          
        {% if sex.name=="male" %}<h3 class="hline">Кобели</h3>{% endif %}  
        {% if sex.name=="female" %}<h3 class="hline">Суки</h3>{% endif %}  
        {% assign pets = sex.items %}
          {% for pet in pets %}
            <h1>{{pet.name}}</h1>
            <h5>{{pet.status}}</h5>
            <div class="pet-photo">
              {% for photo in pet.photos %}
                <a class="js-fancybox" href="javascript:;"  data-src="{{ site.url }}/assets/photos/{{photo.img}}" data-animate-in="zoomIn" data-animate-out="zoomOut" data-speed="1000" data-overlay-bg="rgba(0, 0, 0, 1)">
                  <img class="img-fluid gallery-img" src="{{ site.url }}/assets/photos/{{photo.img}}">
                </a>
              {% endfor %}
            </div>
            <div class="hr"></div>
          {% endfor %}  
      {% endfor %} 
    </div>
  </div>
{% else %}
<div class="hr"></div>
{% endif %}

{% endfor %}

