<table border="1" cellpadding="1" cellspacing="1">
  <col width=33%></col>
  <col width=33%></col>
  <col width=33%></col>
	<tbody>
		<tr>
			<td colspan="1" rowspan="4">{{f.name}}{% if f.titles %}<br>{{f.titles}}{% endif %}</td>
			<td colspan="1" rowspan="2">{{ff.name}}{% if ff.titles %}<br>{{ff.titles}}{% endif %}</td>
			<td>{{fff.name}}{% if fff.titles %}<br>{{fff.titles}}{% endif %}</td>
		</tr>
		<tr>
			<td>{{ffm.name}}{% if ffm.titles %}<br>{{ffm.titles}}{% endif %}</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2">{{fm.name}}{% if fm.titles %}<br>{{fm.titles}}{% endif %}</td>
			<td>{{fmf.name}}{% if fmf.titles %}<br>{{fmf.titles}}{% endif %}</td>
		</tr>
		<tr>
			<td>{{fmm.name}}{% if fmm.titles %}<br>{{fmm.titles}}{% endif %}</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="4">{{m.name}}{% if m.titles %}<br>{{m.titles}}{% endif %}</td>
			<td colspan="1" rowspan="2">{{mf.name}}{% if mf.titles %}<br>{{mf.titles}}{% endif %}</td>
			<td>{{mff.name}}{% if mff.titles %}<br>{{mff.titles}}{% endif %}</td>
		</tr>
		<tr>
			<td>{{mfm.name}}{% if mfm.titles %}<br>{{mfm.titles}}{% endif %}</td>
		</tr>
		<tr>
			<td colspan="1" rowspan="2">{{mm.name}}{% if mm.titles %}<br>{{mm.titles}}{% endif %}</td>
			<td>{{mmf.name}}{% if mmf.titles %}<br>{{mmf.titles}}{% endif %}</td>
		</tr>
		<tr>
			<td>{{mmm.name}}{% if mmm.titles %}<br>{{mmm.titles}}{% endif %}</td>
		</tr>
	</tbody>
</table>

