<!DOCTYPE html>
<!--[if IE 8]> <html lang="ru" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="ru" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="ru"> <!--<![endif]-->
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="all page_fix ">
    <div class="wrapper">
      <div class="head">
        <div class="top-kennel">Питомник кеесхондов</div>
        <div class="top-contacts">
          <div class="top-phone">Тел.: <a href="tel:+79165905050">+7-916-590-50-50</a><br>
          e-mail: <a href="mailto:artprides@yandex.ru">artprides@yandex.ru</a>
          </div>
          <div class="top-breeder-note"><span class="top-breeder">Анастасия Атрашкевич</span><br> заводчик</div>
        </div>
        <div class="menu">
          <ul id="top-menu">
            <li><a href="{{ site.url }}">Главная</a></li>
            <li><a href="{{ site.url }}/dogs.html">Наши собаки</a></li>
            <li><a href="{{ site.url }}/puppies.html">Щенки</a></li>
            <li><a href="{{ site.url }}/litters.html">Пометы</a></li>
            <li><a href="{{ site.url }}/news.html">Новости</a></li>
            <li><a href="{{ site.url }}/articles.html">Статьи</a></li>
            <li><a href="{{ site.url }}/contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="main-text">
          <div class="language">
            <img src="{{ site.url }}/assets/images/flags/ru.png" alt="ru" data-google-lang="ru" class="language__img">
            <img src="{{ site.url }}/assets/images/flags/gb.png" alt="en" data-google-lang="en" class="language__img">
            <img src="{{ site.url }}/assets/images/flags/it.png" alt="it" data-google-lang="it" class="language__img">
            <img src="{{ site.url }}/assets/images/flags/de.png" alt="de" data-google-lang="de" class="language__img">
          </div>

          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="inner-footer">
        Тел.: <a href="tel:+79165631969">+7-916-563-19-69</a>
        <br><br>
        <i class="fab fa-vk"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
      <div class="right-footer">
        &copy; 2019. Все права защищены. artprides.ru
        Любое копирование только с разрешения правообладателя.
      </div>
      </div>
<!--      
<ul><li id="glt_widget-3" class="widget widget_glt_widget"><div id="flags" class="size24"><ul id="sortable" class="ui-sortable" style="float:left"><li id='English'><a href='#' title='English' class='nturl notranslate en flag English'></a></li><li id='German'><a href='#' title='German' class='nturl notranslate de flag German'></a></li><li id='Norwegian'><a href='#' title='Norwegian' class='nturl notranslate no flag Norwegian'></a></li><li id='Russian'><a href='#' title='Russian' class='nturl notranslate ru flag Russian'></a></li></ul>
<div id="google_language_translator" class="default-language-ru"></div>
    </div>
<script>function GoogleLanguageTranslatorInit() { new google.translate.TranslateElement({pageLanguage: 'ru', includedLanguages:'en,de,no,ru', autoDisplay: false}, 'google_language_translator');}</script>
<script type='text/javascript' src='https://www.julyjoy.ru/wp-content/plugins/google-language-translator/js/scripts.js?ver=6.0.2'></script>
<script type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=GoogleLanguageTranslatorInit'></script>
-->
	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
  <script src="{{ site.url }}/assets/plugins/thickbox/js/thickbox.js" type="text/javascript"></script>                                                        
  <link rel="stylesheet" href="{{ site.url }}/assets/plugins/thickbox/css/thickbox.css" type="text/css">
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/jquery-appear.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/jquery.parallax.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/counter/waypoints.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/counter/jquery.counterup.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="{{ site.url }}/assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="{{ site.url }}/assets/js/app.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/js/plugins/progress-bar.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/js/plugins/owl-carousel.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/js/plugins/fancy-box.js"></script>

 	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			FancyBox.initFancybox();
			StyleSwitcher.initStyleSwitcher();
		});
	</script>   
  
	<script type="text/javascript" src="{{ site.url }}/assets/js/plugins/style-switcher.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			App.initCounter();
			App.initParallaxBg();
			App.initScrollBar();
			FancyBox.initFancybox();
			App.initSidebarMenuDropdown();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
			ProgressBar.initProgressBarHorizontal();
		});
	</script>
 
    <script src="{{ site.url }}/assets/js/mousetrap.min.js?a4098"></script>
    <script>
    Mousetrap.bind('ctrl+shift+k', function(e) {
      window.open('https://github.com/Itzamna/kennel-art-pride/edit/gh-pages/{{page.path}}');
    });
    </script>  
        <script type="text/javascript" src="{{ site.url }}/assets/plugins/tablesorter-master/dist/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="{{ site.url }}/assets/plugins/tablesorter-master/dist/js/jquery.tablesorter.widgets.min.js"></script> 
      <script>
    $(function(){
      $('#Mysorter').tablesorter();
    });

    </script>
    <!--[if lt IE 9]>
    <script src="{{ site.url }}/assets/plugins/respond.js"></script>
    <script src="{{ site.url }}/assets/plugins/html5shiv.js"></script>
    <script src="{{ site.url }}/assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->  
  
  
  </body>
</html>



